@model MVC50Ders_Stok.Models.Entity.Tbl_Urunler
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Ad</label>
        <input type="text" class="form-control" name="UrunAd" required maxlength="50" />
        @*@Html.ValidationMessageFor("Lütfen boş bırakmayınız.","",)*@
    </div>

    <div>
        <label>Ürün Marka</label>
        <input type="text" class="form-control" name="UrunMarka" placeholder="Markayı yazınız..." required />
    </div>

    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m=>m.Tbl_Kategoriler.KategoriId,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control" })
    </div>

    <div>
        <label>Ürün Fiyat</label>
        <input type="text" class="form-control" name="UrunFiyat" />
    </div>

    <div>
        <label>Ürün Stok</label>
        <input type="text" class="form-control" name="UrunStok" />
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Yeni Ürün Ekle</button>
    </div>
</form>
