@model MVC50Ders_Stok.Models.Entity.Tbl_Musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Ad</label>
        @Html.TextBoxFor(x=>x.MusteriAd, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.MusteriAd,"", new {@style= "color:red" })
    </div>
    <div>
        <label>Müşteri Soyad</label>
        @Html.TextBoxFor(x => x.MusteriSoyad, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.MusteriSoyad,"", new {@style="color:red"})
    </div>
    <div style=" margin-top:15px">
        <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    </div>

    <script>
        $('#btn1').click(function () {
            alert('Müşteri Ekleme İşlemi Yapıldı.');
        });
    </script>
</form>
