@using MVC50Ders_Stok.Models.Entity
@model List<Tbl_Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered ">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
           @foreach(var ktgr in Model)
            {
                <tr>
                    <th>@ktgr.KategoriId</th>
                    <td>@ktgr.KategoriAd</td>
                    <td> <a href="/Category/Sil/@ktgr.KategoriId"class=" btn btn-danger">SİL</a></td>
                    <td> <a href="/Category/Guncelle/@ktgr.KategoriId"class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
    </tbody>
</table>

<a href="/Category/YeniKategori" class="btn btn-primary">YENİ KATEGORİ EKLE</a>



