@using MVC50Ders_Stok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered ">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
           @foreach(var ktgr in Model)
            {
                <tr>
                    <th>@ktgr.KategoriId</th>
                    <td>@ktgr.KategoriAd</td>
                    @*<td> <a href="/Category/KategoriSil/@ktgr.KategoriId"class=" btn btn-danger">SİL</a></td>*@
                    <td>@Html.ActionLink("Sil", "KategoriSil", new { id = ktgr.KategoriId}, new {@class="btn btn-warning", onclick = "return confirm('Silmek istediğinize emin misiniz?')"})</td>
                    <td> <a href="/Category/KategoriGetir/@ktgr.KategoriId"class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index",new {sayfa}))

<a href="/Category/YeniKategori" class="btn btn-primary">YENİ KATEGORİ EKLE</a>



